<h3>Products</h3>

<div class="row">
  <div class="section">
  <% @products.each do |product| %>
    <div class="col s4">
        <h4 id="clickMe"><%= link_to product.name, product_path(product), remote: true%></h4>
        <div id='product_detail_<%=product.id%>'>
          <p><%= product.description %></p>
          <p><%= image_tag(product.image) %></p>
          <p><%= number_to_currency product.price %></p>
        </div>
      <%= form_for(@order_item, remote: true) do |f| %>
        <%= f.hidden_field :product_id, value: product.id %>
        <%= f.number_field :quantity %>
        <span class="waves-effect waves-light btn"><%= f.submit "Add to cart" %></span>
        <% if current_user && current_user.admin%>
        <span class="waves-effect waves-red btn"><%= link_to "Delete", product_path(product), :data => {:confirm => "You sure?", :method => "delete"} %></span>
        <% end %>
      <% end %>
    </div>
  <% end %>
  </div>
</div>
